mixin ie(condition, content)
    | <!--[!{condition}]>!{content}<![endif]-->

doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title OpenSocial Activity Streams 2.0 Sandbox
        link(rel="stylesheet", href=path + "/assets/bootstrap/css/bootstrap.min.css")
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        +ie("if lt IE 9", "<script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>")
        +ie("if lt IE 9", "<script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>")
        link(rel="stylesheet", href=path + "/stylesheets/prod/app.min.css")
        block custom-stylesheets
    body
        .container
            .navbar.navbar-header.navbar-fixed-top(role="navigation")
                span.navbar-brand
                    a(href="http://www.opensocial.org/")
                        img(src="/images/os_logo.png")
                    a(href="/") Activity Streams 2.0 Sandbox
                input(type="hidden", id="path", value=path)
                if loggedUser
                    input(type="hidden", id="loggedUserID", value=loggedUser._id)
                    input(type="hidden", id="loggedUserName", value=loggedUser.name)
                    p.navbar-text.navbar-right!= "Welcome, " + "<strong>" + loggedUser.name + "</strong>"

            block content

            #footer
                p.small Copyright &copy; 2014 OpenSocial Foundation

        script(src=path + "/assets/jquery/js/jquery.min.js")
        script(src=path + "/assets/bootstrap/js/bootstrap.min.js")
        block custom-scripts